@tailwind base;
@tailwind components;
@tailwind utilities;

table th {
  white-space: nowrap;
}

table th,
table td {
  line-height: 2;
  padding: 0.5rem 1rem;
}
table th {
  font-weight: normal;
  border-top: thin dotted #ccc;
}

table td {
  line-height: 2;
  border-radius: 0.2rem;
  transition: opacity 0.3s ease;
}
table td > span {
  color: rgb(71 85 105 / var(--tw-text-opacity));
  font-weight: normal;
  display: block;
  width: 100%;
}

#sponsers img {
  float: left;
  width: 20%;
  height: 125px;
  padding: 10px;
}

#sponsers::after {
  content: '';
  clear: both;
  display: table;
}

#partners img {
  float: left;
  width: 20%;
  height: 70px;
  padding: 10px;
}

#partners .central {
  display: none;
  height: 200px !important;
}

#partners::after {
  content: '';
  clear: both;
  display: table;
}

@media only screen and (min-width: 0px) and (max-width: 801px) {
  #sponsers img {
    height: 75px;
    width: 30%;
  }

  #partners img {
    height: 75px;
    width: 30%;
  }
}
